
<div id = "bottom_navigation">
    <a class="btn" mat-raised-button id="home" routerLink="/home">Home</a>
    <a class="btn" mat-raised-button id="units" routerLink="/units">Units</a>
    <a class="btn" mat-raised-button id="equipment" routerLink="/equipment">Equipment</a>
    <a class="btn" mat-raised-button id="crests" routerLink="/crests">Crests</a>
</div>

<!--<mat-tab-group>
    <mat-tab label="home" routerLink="/home"> Home </mat-tab>
    <mat-tab label="units" routerLink="/units"> Units </mat-tab>
    <mat-tab label="equipment" routerLink="/equipment"> Equipment </mat-tab>
    <mat-tab label="crests" routerLink="/crests"> Crests </mat-tab>
</mat-tab-group> !!EXPERIMENTAL!! -->

<router-outlet></router-outlet>


